@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


:root {
    --bg: #212121;
    --text: white;
    --outline: rgba(255, 255, 255, 0.5);
    --forest: #138d19;
    --brick: #8d2513;
    --aqua: #138d83;
    --cinder: #b98c10;
}

body {
    margin: 0;
    background-color: var(--bg);
    color: white;
    font-family: 'Open Sans', sans-serif;
}


input, button, textarea {
  font-family: inherit;
  background-color: var(--bg);
  color: var(--text);
  outline: none;
}

input, textarea {
  border: none;
}


#new-note {
  box-shadow: rgba(255, 255, 255, 0.5);
}

.note-wrapper {
  width: 50%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid var(--outline);
}

.note-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.note-title {
  font-size: 1.5rem;
}

.note-content {
  font-size: 1rem;
  resize: none;
}

.options > button {
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 60px;
  cursor: pointer;
}

.options > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
